@{
    ViewData["Title"] = "Inicio";
}

<div class="row">
    <br />
    <br />
    <h1 class="text-center">Optimización Matemática</h1>
    <h3 class="text-center">Ocean Roldan</h3>
    <img src="~/images/Logo.png" width="470" />
    <ul style="display: inline-block;">
        <li>Alexander Castaño</li>
        <li>Paulo Hernandez</li>        
        <li>Luisa Fernanda Marin</li>
        <li>John Fredy Zapata Zapata</li>
    </ul>
</div>
